/* Mat-Card Classes */

.cardMain {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color:white;
    margin: 0px;
    max-height: 80%;
}

.buttonContainer {
    max-height: 80%;
}

.cardTest {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.cardHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
}

p {
    color: #005288;
    font-weight: bold;
}

h1 {
    font-size: 20px;
    color: #005288;
}



/* Container Classes */

.homeHeaderContainer {
    max-width: 85%;
    margin: 30px auto;
    overflow: auto;
    min-height: auto;
    padding: 30px;
    padding-bottom: 10px;
    margin-bottom: 0px;
  }

.homeBodyContainer {
    overflow: hidden;
    max-width: 85%;
    margin: 30px auto;
    overflow: auto;
    min-height: auto;
    padding: 30px;
    padding-top: 0px;
    margin-top: 0px;
}

.homeContent {
    margin: 0px;
}

div {
    overflow:hidden;
}

.bodyContent {
    padding: 1px;
}

app-button-fab {
    align-items: center;
}