<div class="homeHeaderContainer">
    <mat-card class="cardMain">
      <mat-card-header class="cardHeader">
        <img
          src="../../assets/fake logo.JPG"
          style="max-width: 75%; height: auto; width: auto; margin-bottom: 5%"
        />
        <h1>Data Warehouse Home</h1>
      </mat-card-header>
    </mat-card>
  </div>
  
  <div class="homeBodyContainer">
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="center"
      fxLayoutGap="10px"
      fxFlexFill
      class="bodyContent"
      >
      <mat-card class="cardMain" fxFlex="33%">
        <mat-card-header class="cardHeader">
          <mat-card-title>
            <h1>Wallet</h1>
          </mat-card-title>
        </mat-card-header>
  
        <mat-card-content class="homeContent">
          <p>Account:</p>
          <p>{{ account }}</p>
          <p>Network:</p>
          <p>{{ network }}</p>
        </mat-card-content>
  
        <mat-card-actions>
          <app-button (click)="logout()" color="orange" text="Logout">
          </app-button>
        </mat-card-actions>
      </mat-card>
  
      <mat-card class="cardMain" fxFlex="67%">
        <mat-card-header class="cardHeader">
          <mat-card-title>
            <h1>Data Ticket Actions</h1>
          </mat-card-title>
        </mat-card-header>
  
        <div
          fxLayout="row"
          fxLayout.xs="column"
          fxLayoutAlign="center"
          fxLayoutGap="10px"
          fxFlexFill

          class="buttonContainer"
          >
          <div class="cardMain" fxFlex="50%">
            <app-button-fab (click)="viewData()" color="orange" icon="timeline" style="margin: 10px"></app-button-fab>
            <p>Data</p>
          </div>
          <div class="cardMain" fxFlex="50%">
            <app-button-fab (click)="visitMarketplace()" color="orange" icon="store" style="margin: 10px"></app-button-fab>
            <p>Market</p>
          </div>
          <div class="cardMain" fxFlex="50%">
            <app-button-fab (click)="adminConsole()" color="orange" icon="developer_board" style="margin: 10px"></app-button-fab>
            <p>Admin</p>
          </div>
          </div>
      </mat-card>
    </div>
  </div>
  